<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" [@cardtable1]>
                    <div class="header">
                        <!-- Button trigger modal -->
                        <div class="pull-right"><button type="button" class="btn btn-primary" (click)="clientModal.open()">Add Client</button></div>
                    <h4 class="title">Client List</h4>
                    <p class="category">as of today</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Website</th>
                            <th>Instagram Name</th>
                            <th>Instagram ID</th>
                            <th>Facebook Name</th>
                            <th>Facebook ID</th>
                            <th>Active</th>
                            <th>Delete</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients | async">
                                <td>{{client.name}}</td>
                                <td>{{client.website}}</td>
                                <td>{{client.instagramName}}</td>
                                <td>{{client.instagramId}}</td>
                                <td>{{client.facebookName}}</td>
                                <td>{{client.facebookId}}</td>
                                <td>{{client.active}}</td>
                                <td><button class="btn btn-danger btn-simple btn-xs" (click)="removeClient(client)" rel="tooltip" title="Remove" type="button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<modal #clientModal>
    <form #modalForm="ngForm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">Add new Client</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <label class="control-label">Client Name</label>
                <input type="text" class="form-control" required [(ngModel)]="newClient.name" name="name" id="name">
            </div>
            <div class="form-group">
                <label class="control-label">website</label>
                <input type="text" class="form-control" required [(ngModel)]="newClient.website" name="website" id="website">
            </div>
            <div class="form-group">
                <label class="control-label">Instagram Name</label>
                <input type="text" class="form-control" [(ngModel)]="newClient.instagramName" name="instagramName" id="instagramName">
            </div>
            <div class="form-group">
                <label class="control-label">Instagram ID</label>
                <input type="text" class="form-control" [(ngModel)]="newClient.instagramId" name="instagramId" id="instagramId">
            </div>
            <div class="form-group">
                <label class="control-label">Facebook Name</label>
                <input type="text" class="form-control"  [(ngModel)]="newClient.facebookName" name="facebookName" id="facebookName">
            </div>
            <div class="form-group">
                <label class="control-label">Facebook ID</label>
                <input type="text" class="form-control"  [(ngModel)]="newClient.facebookId" name="facebookId" id="facebookId">
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clientModal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="closeClient()">Save</button>
        </modal-footer>
    </form>
</modal>